* {
    margin: 0;
    padding: 0;
}

html,
body,
main {
    height: 100%;
    background-color: rgb(242, 242, 242);
}

.main{
    background-color: black;
    position: relative;
    z-index: 2;
}

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgb(133, 133, 133);
}

.headerContent{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
    height: 7rem;
}

.title{
    font: 2.5rem 'belanosima', sans-serif;
}

.newBook{
    padding: 1rem;
    background-color: white;
    font: 700 1.2rem 'roboto';
    position: relative;
    outline: none;
    border: none;
    outline: 1px solid black;
    transition: all 0.1s;
}
.newBook:hover{
    translate: -3px -3px;
    /* box-shadow: 1px 1px 5px rgb(0, 0, 0); */
    position: relative;
}
.newBook:active{
    background-color: red;
    translate: 0.1px 0.1px;
}
.buttonWrapper{
    transition: all 0.1s;
}
.buttonWrapper:hover{
    outline: 1px solid rgb(85, 85, 85);
    width: 120px;
    height: 56px;
    background-color: rgb(146, 146, 146);
}
.formContainer{
    height:  35rem;
    width: 30rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 1rem;
    /* display: none; */
}
.overlay {
    background-color: rgba(0, 0, 0, 0.22);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: all 0.1s ease;
}
.show {
    display: block !important;
}
.formTitle {
    font: 400 2rem 'belanosima', sans-serif;
    margin: 1.5rem 0 0.5rem 2rem;
}
form {
    display: grid;
    grid-template: repeat(3, 2fr) 1fr 2fr/ 1fr;
    height: 85%;
    align-items: center;
    justify-items: center;
    margin: 0 2rem;
}
.field {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    font: 700 1.5rem 'roboto';
    width: 22rem;
}
form .readField {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;
}
input{
    font: 1.3rem 'roboto';
    padding: 0.2rem;
}
.add {
    height: 3rem;
    width: 17rem;
    font: 700 1.5rem 'roboto';
    border-radius: 1rem;
    border: none;
    background-color: rgb(226, 226, 226);
}
.add:hover {
    background-color: rgb(188, 188, 188);
}
.read{
    width: 1.5rem;
}
.read:checked + .checkmark{
    background-color: red;
}